---
layout: default
title: root
---
{% if paginator.previous_page %}
{% else %}
<br/><br/><br/><br/><br/><br/><br/>
switchworks : Composer, Engineer, Pianist, other...<br/>
作曲やITやピアノやその他……<br/><br/>
request of work etc. : to sou1 at s1224.com with mail please. <br/>
仕事の依頼等は sou1 at s1224.com までどうぞ。<br/><br/><br/><br/><br/><br/><br/>
{% endif %}
<!-- ページ分割されたpostsに対してループ -->
{% for post in paginator.posts %}
  <time>{{ post.date | date_to_string }}</time>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- ページネーションリンク -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
